.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fafafa;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navigation a:hover,
.navigation a.active {
  color: #ffcc00;
}
.active {
  color: #ffcc00;
}
